<nav class="navbar shadow-sm px-3">
  <div class="container-fluid px-5 row">
      <div class="col-3" style="padding-left:50px;">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='logoB.jpeg') }}" alt="Walpar Nutritions" width="170" height="54" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="col-6">
        <p class="fs-1 mb-0 text-center">Checkout</p>
      </div>
      <div class="col-3">
        <i class="fa-solid fa-cart-shopping mb-0"></i>
      </div>
  </div>
</nav>