<style>
    .foot{
     color: #e6e5e7;
     text-decoration: none;
     font-size: 14px;
    }
    .foot:hover{
     color: #36b311;
    }
    .icon:hover{
     color: #36b311;
    }
</style>
<div style="background-color: #eff1f2; padding: 125px 0px ;"  class="mt-5">
    <div class="container text-center border-0">
  <div class="row">
    <div class="col g-col-4">
        <div class="fs-1 text-success">
            <i class="fa-solid fa-truck-fast"></i>
            <div class="fs-2">
                OUR MISSION
            </div>
        </div>
        <div>
            Every person is a sales person. Whenever we are talking to our family, friends, associates & acquaintances, we are selling
        </div>
    </div>
    <div class="col g-col-4">
        <div class="fs-1 text-success">
            <i class="fa-solid fa-wallet fs-1 text-success"></i>
            <div class="fs-2">
            OUR VISION
                </div>
        </div>
        <div>
            This As a person progresses, his needs and wants also grow with him. We also have to keep up with the latest developments.

        </div>
    </div>
    <div class="col g-col-4">
        <div class="fs-1 text-success">
            <i class="fa-solid fa-phone-volume"></i>
            <div class="fs-2">
            OUR CONCEPT
                </div>
        </div>
        <div>
            At this time of price hiking in India, we do not get a hike in income. Every month-end we struggle to meet our expenses.
        </div>
    </div>
  </div>
</div>
</div>

<div class="bg-dark text-light" >
<div class=" border-top container">
  <footer class="pt-5 ">
    <div class="row">
        <div class="col-md-3 offset-md-1 mt-3">
            <h5>OFFICE ADDRESS</h5>
            <p style="font-size: 14px;">5, Shyam Estate, Santej-Khatraj Road, Santej, TA: Kalol - 382721 Gandhinagar, Gujarat, INDIA</p>
            <p><i class="fa-solid fa-envelope" style="color: #36b311;"></i> <a href="mailto:walparcustomercare@gmail.com" class="foot">walparcustomercare@gmail.com</a> </p>
            <p><i class="fa-solid fa-phone" style="color: #36b311;"></i> 08735985994</p>
        </div>
        <div class="col-md-4 mt-3 text-start">
            <h5>WHO WE ARE</h5>
            <p style="font-size: 14px;">Who we are as a company is the result of strategic choices that we have made. These in turn are based on our mission and core values, which defines what we believe in and how we go about our business.</p>
        </div>
      <div class="col-6 col-md-2 mt-3">
        <h5>GET HELP</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" ><a href="/" class="nav-link p-0 foot">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Product</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Terms And Conditions</a></li>
          <li class="nav-item mb-2"><a href="/ContactUs" class="nav-link p-0 foot">Contact US</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mt-3">
        <h5>CATEGORY</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Ayurvedic</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Cosmetic</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Dermoglow</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">FMCG</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Nutriwal Nutrition's</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">OTC</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">Protein Powder</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 foot">SPRAY</a></li>

        </ul>
      </div>

    </div>
      <hr style="color: #000000;">
    <div class="d-flex flex-column flex-sm-row justify-content-between pt-3 mt-4 container">
      <p>© <a style="color : #36b311; text-decoration: none; font-weight: bold;" href="#">Walpar</a>, Inc. All rights Reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis text-info fs-4" style="text-decoration: none;" href="https://twitter.com/" target="_blank "><i class="icon fa-brands fa-square-x-twitter"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis text-danger fs-4" style="text-decoration: none;" href="https://www.instagram.com/walparnutritionslimited?igshid=OGQ5ZDc2ODk2ZA==" target="_blank "><i class="icon fa-brands fa-instagram" style="color: #ce2577;"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis text-primary fs-4" style="text-decoration: none;" target="_blank " href="https://www.facebook.com/WalparNutritionsLimited/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0"><i class="icon fa-brands fa-facebook"></i></a></li>
          <li class="ms-3"><a class="link-body-emphasis text-danger fs-4" style="text-decoration: none;" target="_blank " href="https://www.youtube.com/channel/UCjWUlCCUBraLZGs6uNHfNbA"><i class="icon fa-brands fa-youtube"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
</div>