<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Walpar Nutritions</title>

</head>
<body>
{% include 'nav.html' %}
<div class="container mt-4">
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if search_results == [] %}
        <div class="alert alert-dark" role="alert">
          No Result Found.
        </div>
        {% else %}
          {% for product_id, name, description, price, brand_id, category_name, fileNames in search_results %}
            <!-- Your existing code here -->
                {% include 'like_cart.html' %}
            <!-- Access file names if needed -->
          {% endfor %}
    {% endif %}
</div>
</div>
{% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></script>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
</div>

</body>

</html>