<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card-wrapper">
        <div class="card-container">
            <div class="card-top">
                <a href="/admin/product/{{product_id}}"><img class="card-image" width="50" height="400" src="{{ url_for('static', filename=path1) }}"
                    alt="" /></a>
            </div>
            <div class="card-bottom">
                <h3>{{name}}</h3>
                <p>₹{{price}}</p>
            </div>
            <div class="card-action">
                <div class="card-edit">
                    <a href="/admin/editProduct/{{product_id}}" style="color:#ece804;" class="mdi mdi-circle-edit-outline"></a></div>
                <div class="card-preview">
                    <a href="/admin/product/{{product_id}}" style="color:#11ec04;" class="mdi mdi-eye-outline"></a>
                </div>
                <div class="card-remove">
                    <form method="post" action="/admin/removeProduct/{{product_id}}">
                        <button type="submit" style="color:#ff0000;" class="mdi mdi mdi-delete-outline"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>